@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Gluten:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@600&display=swap');

:root {
    
}

* {
    margin: 0px;
    padding: 0px;
    background-color: gray;
}

header {
    text-align: center;
    
}


header > picture > img {
    width: 1100px;
    height: 300px;
    
}

header > h1 {
    /*font-family: 'Bevan', cursive;*/
    font-family: 'Gluten', cursive;
    color: white;
    margin-top: -100px;
    font-weight: 700px;
    font-size: 5em;
    text-shadow: 0.1em 0.1em 0.2em black;
}

header > p {
    font-family: 'Lexend Exa', sans-serif;
    color: white;
    text-shadow: 0.2em 0.2em 0.3em black;
}

nav {
    text-align: center;
    margin-top: 4px;
    padding: 30px;
    margin-bottom: 10px; 
}

nav > ul {
    margin: -12.5px;
    
}

nav > ul > li {
    display: inline;
    margin: -2px;
}

nav > ul > li > a {
    text-decoration: none;
    font-family: 'Lexend Exa', sans-serif;
    color: rgb(192, 189, 18);
    border: 0.2px solid rgba(255, 255, 255, 0.151);
    padding: 15.1px;
    padding-bottom: 20px;
    background-color: #000000;
    
    
}

nav > ul > li > a:hover {
    background-color: rgb(19, 13, 13);
}
section {
    border: 1px solid black;
    
    
}
section > article {
    
    border: 1px solid black;
    
    
    
}
footer {
    text-align: center;
}